<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="equilateralTriangle" class="in.srijanmukherjee.Triangle">
        <property name="type" value="Equilateral"/>
    </bean>
    <bean id="isoscelesTriangle" class="in.srijanmukherjee.Triangle">
        <property name="type" value="Isosceles"/>
    </bean>
    <bean id="scaleneTriangle" class="in.srijanmukherjee.Triangle">
        <property name="type" value="Scalene"/>
    </bean>
</beans>